.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 25, 40, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        font-size: 42px;
        font-weight: 700;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 64px;
        align-items: center;

        
    }
}